.root{
    height: 855px;
    background-image: url(../../assets/img/home__bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120%;
    margin: 0 auto;
}

.container{
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & h2{
        margin: 0;
        font-family: "Valorant";
        font-weight: 600;
        font-size: 70px;
        position: relative;
        color: white;

        &::after{
            content: "Beta";
            position: absolute;
            font-size: 30px;
            color: red;
        }
    }

    & button {
        width: 200px;
        height: 50px;
        margin-top: 30px;
        background-color: rgba(255,255,255, 0.3);
        color: white;
        outline: none;
        border: .5px solid white;
        cursor: pointer;
        position: relative;
        transition: all .5s;
        font-family: "Valorant";

        &:hover{
            background-color: rgba(255,255,255, 0.5);
            transform: scale(1.1);
            border: none;
            transition: .5s ease-in;
            color: black;
        }
    }
}
